files:
  "/opt/elasticbeanstalk/addons/logpublish/hooks/config/50_restart_cloudwatch_agent.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "restart cloudwatch agent"
      sudo service awslogs stop && sudo rm /var/lib/awslogs/agent-state ; sudo service awslogs start
      
